@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
.video-list {
    margin: 0 1rem 1rem 1rem;

    @include tablet {
    margin: 0 2rem 1rem 2rem;

    }

    &__title {
        color: $primary-text-label;
        font-size: .875rem;
        font-weight: 600;
        line-height: 1.25rem;
        margin-top: 0;
    
        @include desktop {
            padding-top: 2rem;
        }

    }
}
.video-card {
    display: flex;
    height: 4.5rem;
    margin: 1rem 0;

    @include tablet {
        margin-bottom: 1.5rem;
    }

    &--hide {
        display: none;
    }
    
    &__text {
        width: 12rem;
    }

    &__img {
        width: 7rem;
        border-radius: 4px;
        height: 100%;
        background-size: cover;
        background-position: center;
        margin-right: 1rem;
    }

    &__title {
        margin: 0;
        font-size: .8125rem;
        line-height: 1.125rem;
        font-weight: 600;

        @include tablet {
            font-size: .875rem;
            line-height: 1.375rem;
        }

    }

    &__channel {
        margin: 0.5rem 0 0 0;
        font-size: .8125rem;
        line-height: 1.125rem;

        @include tablet {
            font-size: .875rem;
            line-height: 1.375rem;
        }


    }
}