// media breakpoints
$breakpoint-tablet:768px;
$breakpoint-desktop:1280px;

// primary
$primary-text-dark: #323232;
$primary-cta: #0095Ff;
$primary-text-label: #AFAFAF;
$primary-background: #FFFFFF;

// secondary
$secondary-dark: #000000;
$secondary-cta-hover: #0065AD;
$secondary-divider: #e1e1e1;
$secondary-background:#fafafa;