@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.hero {

    &__content {
        margin: 1rem;

        @include tablet {
            margin: 1rem 2rem;
        }

        @include desktop {
            margin-right: 0;
        }
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2rem;

        @include tablet {
            margin-bottom: 0;
            font-size: 2.0625rem;
            line-height: 44px;
        }
    }
    &__box {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $secondary-divider;
        border-bottom: 1px solid $secondary-divider;
        @include tablet {
            border-top: none;
        }

        @include desktop {
            margin-right: 0;
            padding-right: 2rem;
        }

    }

    &__description {
        padding-right: 2rem;
        font-size: .8125rem;
        line-height: 1.125rem;
        @include tablet {
            font-size: .875rem;
            line-height: 1.375rem;
            padding-bottom: 1.5rem;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            align-items: center;
        }
    }

    &__name {
        font-size: 0.9rem;
        line-height: 1.125rem;
        font-weight: 600;

        @include tablet {
            margin-right: 2rem;
            margin-bottom: 0.5rem;

        }
    }

    &__date {
        color: $primary-text-label;
        font-size: 0.9rem;
        line-height: 1.125rem;

        @include tablet {
            margin-bottom: 0.5rem;
            font-size: .75rem;
            line-height: 1.25rem;
        }

    }

    &__container-icon {
        display: flex;
    }

    &__view {
        padding-left: 0.5rem;
        color: $primary-text-label;
        font-size: 0.9rem;
        line-height: 1.125rem;


        @include tablet {
            margin-right: 2rem;
            margin-bottom: 0.5rem;
            font-size: .75rem;
            line-height: 1.25rem;
        }

    }

    &__like {
        padding-left: 0.5rem;
        color: $primary-text-label;   
        font-size: 0.9rem;
        line-height: 1.125rem;
        padding-right: 2rem;

    
        @include tablet {
            margin-bottom: 0.5rem;
            font-size: .75rem;
            line-height: 1.25rem;
            padding-right: 0;
        }
    }


}