@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/font/AvenirNextLTPro-Bold.woff") format("woff"), url("../../assets/font/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/font/AvenirNextLTPro-Regular.woff") format("woff"), url("../../assets/font/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.comment-section {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 0 1rem;
}
@media (min-width: 768px) {
  .comment-section {
    margin: 1rem 2rem 0 2rem;
  }
}
@media (min-width: 1280px) {
  .comment-section {
    margin-right: 0;
    margin-top: 0.5rem;
  }
}

.comment-form {
  display: flex;
  margin: 1rem;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .comment-form {
    margin: 1rem 2rem;
  }
}
@media (min-width: 1280px) {
  .comment-form {
    margin-right: 0;
    padding-right: 2rem;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
.comment-form__title {
  margin-left: 1rem;
  font-weight: 600;
  font-size: 0.875rem;
}
@media (min-width: 768px) {
  .comment-form__title {
    margin-left: 2rem;
  }
}
.comment-form__avatar {
  background-image: url(../../assets/images/Mohan-muruge.jpg);
  background-size: cover;
  background-position: center;
  min-width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .comment-form__avatar {
    min-width: 40px;
    height: 40px;
  }
}
.comment-form__form {
  width: 100%;
  margin-left: 1rem;
}
.comment-form__label {
  color: #AFAFAF;
  font-weight: 600;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .comment-form__label {
    display: block;
  }
}
.comment-form__nonmobile-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .comment-form__nonmobile-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.comment-form__input {
  border: 1px #e1e1e1 solid;
  border-radius: 4px;
  padding: 1rem;
  background-color: #fafafa;
  resize: none;
  margin-bottom: 1rem;
  height: 7rem;
}
@media (min-width: 768px) {
  .comment-form__input {
    width: 100%;
    height: 40px;
    padding: 0.5rem 1rem;
    margin-right: 1.5rem;
  }
}
.comment-form__input::-moz-placeholder {
  font-family: "AvenirNext";
  font-weight: 600px;
  color: #323232;
}
.comment-form__input::placeholder {
  font-family: "AvenirNext";
  font-weight: 600px;
  color: #323232;
}
.comment-form__input:focus {
  outline: none;
  border: 2px solid #0095Ff;
}
.comment-form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #FFFFFF;
  height: 40px;
  background-size: 1rem;
  background-position-x: 0.5rem;
  background-position-y: center;
  background-repeat: no-repeat;
  background-color: #0095Ff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  font-size: 0.75rem;
  background-image: url("../../assets/images/add_comment.svg");
}
@media (min-width: 768px) {
  .comment-form__button {
    width: 15rem;
    background-size: 10%;
  }
}
.comment-form__button:hover {
  background-color: #0065AD;
}/*# sourceMappingURL=CommentSection.css.map */